<div class="w3-main" style="margin-left:340px;margin-right:40px">

<div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Register</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <form #f="ngForm" (ngSubmit)="register(f)">
        <div class="w3-section">
            <label>Username</label>
            <input class="w3-input w3-border" type="text" name="username" ngModel #username="ngModel" required>
          </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="email" name="email" ngModel #email="ngModel" email required>
      </div>
      <div class="w3-section">
        <label>Password</label>
        <input class="w3-input w3-border" type="password" name="password" ngModel #password="ngModel" required>
      </div>
      <div class="alert alert-danger" *ngIf="messageError">{{messageError}}</div>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Register</button>
    </form>  
  </div>

</div>